<% layout("/layouts/boilerplate-home")%>
    <div class="row">
        <h1 class="text-center">Edit details</h1>
        <div class="mt-3 col-6 offset-3">
            <form action="/allusers/<%=user._id%>?_method=PUT " method="post" novalidate class="validated-form">
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label" for="forename">First name</label>
                        <input class="form-control" type="text" id="forename" name="forename"
                            value="<%=user.username %>">
                    </div>
                    <div class="col">
                        <label class="form-label" for="surname">Surname</label>
                        <input class="form-control" type="text" id="surname" name="surname" value="<%=user.surname %> "
                            required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="text" id="password" name="password"
                            value="<%=user.password %> " required>
                    </div>
                    <div class="col">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email" value="<%=user.email %> "
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="street">Street</label>
                    <input class="form-control" type="text" id="street" name="street" value="<%=user.street %> "
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="houseNumber">House Number</label>
                    <input class="form-control" type="text" id="houseNumber" name="houseNumber"
                        value="<%=user.houseNumber %> " required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="postcode">Postcode</label>
                    <input class="form-control" type="text" id="postcode" name="postcode" value="<%=user.postcode %> "
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="city">City</label>
                    <input class="form-control" type="text" id="city" name="city" value="<%=user.city %> " required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" type="text" id="country" name="country" value="<%=user.country %> "
                        required>
                </div>
                <div class="mb-3 offset-3">
                    <a class=" card-link btn btn-warning" href="/allusers/<%=user._id%>">Show details</a>
                    <button class="btn btn-success">Update</button>
                    <a class=" card-link btn btn btn-danger" href="/allusers">Return</a>
                </div>
            </form>
            <div class=" d-inline mb-3 card-body offset-3">

            </div>
        </div>
    </div>